@import "tailwindcss";

@font-face {
  font-family: 'IRANSans';
  src: url('/public/fonts/IRANSansWeb.woff2') format('woff2'),
    url('/public/fonts/IRANSansWeb.woff') format('woff'),
    url('/public/fonts/IRANSansWeb.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

body {
  padding-top: env(safe-area-inset-top);
  /* padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right); */
}

html,
body {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
}


:where(.css-dev-only-do-not-override-kbg4zp).ant-collapse-borderless>.ant-collapse-item>.ant-collapse-content>.ant-collapse-content-box {
  padding: 0;
}

:where(.css-dev-only-do-not-override-kbg4zp).ant-collapse>.ant-collapse-item>.ant-collapse-header {
  align-items: center !important;
}

.ant-collapse-expand-icon svg {
  color: #fff !important;
}

@keyframes slidein {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

.animate-slidein {
  animation: slidein 0.7s cubic-bezier(0.4, 0, 0.2, 1);
}


.custom-timepicker input::placeholder {
  color: #a3a3a3 !important;
  opacity: 1;
}

:where(.css-dev-only-do-not-override-18f2tjt).ant-input-number {
  width: 100%;
}

:where(.css-dev-only-do-not-override-1yncb0g).ant-btn-variant-outlined:not(:disabled):not(.ant-btn-disabled):hover,
:where(.css-dev-only-do-not-override-1yncb0g).ant-btn-variant-dashed:not(:disabled):not(.ant-btn-disabled):hover {
  color: #00bba7;
  border-color: #00bba7;
}

.ant-radio-group-solid :where(.css-dev-only-do-not-override-1lkgz21).ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover {
  border-color: #00bba7;
  background-color: #00bba7;
}

.rmdp-calendar-container-mobile .rmdp-mobile.rmdp-wrapper {
  font-family: 'IRANSans';
}

.rmdp-header-values {
  font-size: 20px;
}

.rmdp-calendar-container-mobile {
  background-color: rgba(0, 0, 0, 0.8) !important;
}

.rmdp-mobile.rmdp-wrapper {
  border: 1px solid #00bba7 !important;
  border-radius: 20px;
}

.rmdp-container {
  display: block !important;
}

:where(.css-dev-only-do-not-override-118lmih).ant-btn-variant-solid:not(:disabled):not(.ant-btn-disabled):hover {
  background-color: #00bba7;
  opacity: 0.7;
}

:where(.css-dev-only-do-not-override-cc4bdi).ant-btn-variant-outlined:not(:disabled):not(.ant-btn-disabled):hover,
:where(.css-dev-only-do-not-override-cc4bdi).ant-btn-variant-dashed:not(:disabled):not(.ant-btn-disabled):hover {
  border: 1px solid #00bba7;
  color: #00bba7;
}

.ant-radio-group-solid :where(.css-dev-only-do-not-override-1td8cbh).ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover {
  background-color: #00bba7;
  /* opacity: 0.7; */
  border: 1px solid #00bba7;
}

:where(.css-dev-only-do-not-override-1td8cbh).ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover .ant-select-selector {
  border: 1px solid #00bba7;
}

:where(.css-dev-only-do-not-override-1td8cbh).ant-select-dropdown .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: #00bba7;
}

.ant-select-focused:where(.css-dev-only-do-not-override-1td8cbh).ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer) .ant-select-selector {
  box-shadow: none !important;
}

:where(.css-dev-only-do-not-override-1td8cbh).ant-slider .ant-slider-track {
  background-color: #00bba7;
}

:where(.css-dev-only-do-not-override-1td8cbh).ant-slider:hover .ant-slider-track {
  background-color: #015353;
}

:where(.css-dev-only-do-not-override-1td8cbh).ant-slider .ant-slider-handle::after {
  box-shadow: none !important;
  border: 1px solid #00bba7;
}

:where(.css-dev-only-do-not-override-1td8cbh).ant-btn-variant-outlined:not(:disabled):not(.ant-btn-disabled):active,
:where(.css-dev-only-do-not-override-1td8cbh).ant-btn-variant-dashed:not(:disabled):not(.ant-btn-disabled):active {
  border: 1px solid #00bba7;
  color: #00bba7;
}

:where(.css-dev-only-do-not-override-1td8cbh).ant-btn-variant-outlined:not(:disabled):not(.ant-btn-disabled):hover,
:where(.css-dev-only-do-not-override-1td8cbh).ant-btn-variant-dashed:not(:disabled):not(.ant-btn-disabled):hover {
  border: 1px solid #00bba7;
  color: #00bba7;
}


:where(.css-dev-only-do-not-override-eie1br).ant-btn-variant-solid:not(:disabled):not(.ant-btn-disabled):hover {
  background-color: #00bba7;
  opacity: 0.8;
}

:where(.css-dev-only-do-not-override-1ueqz1t).ant-btn-variant-outlined:not(:disabled):not(.ant-btn-disabled):hover,
:where(.css-dev-only-do-not-override-1ueqz1t).ant-btn-variant-dashed:not(:disabled):not(.ant-btn-disabled):hover {
  border: 1px solid #00bba7;
}

:where(.css-dev-only-do-not-override-1ueqz1t).ant-btn-variant-outlined:not(:disabled):not(.ant-btn-disabled):hover,
:where(.css-dev-only-do-not-override-1ueqz1t).ant-btn-variant-dashed:not(:disabled):not(.ant-btn-disabled):hover {
  color: #00bba7;
}

.row-absent {
  background-color: #7f1d1d !important;
  /* قرمز تیره */
  color: #fff !important;
}

:where(.ant-table-wrapper) .ant-table-tbody .row-absent.ant-table-row:hover>.ant-table-cell {
  background-color: #991b1b !important;
  color: #fff !important;
}

@media (max-width: 768px) {
  .ant-table-small {
    font-size: 12px !important;
  }

  .ant-table-small .ant-table-cell {
    padding: 2px 4px !important;
  }
}

/* :where(.css-dev-only-do-not-override-kbg4zp).ant-collapse>.ant-collapse-item>.ant-collapse-header .ant-collapse-expand-icon {
  padding-inline-end: 0px !important
}

:where(.css-dev-only-do-not-override-kbg4zp).ant-collapse>.ant-collapse-item >.ant-collapse-header{
  padding: 10px 10px 10px 5px;
} */

@media (max-width: 768px) {
  :where(.css-dev-only-do-not-override-kbg4zp).ant-collapse>.ant-collapse-item>.ant-collapse-header .ant-collapse-expand-icon {
    padding-inline-end: 0px !important;
  }

  :where(.css-dev-only-do-not-override-kbg4zp).ant-collapse>.ant-collapse-item>.ant-collapse-header {
    padding: 15px 10px 15px 5px;
  }
}

@media (max-width: 768px) {
  .tag-xs {
    font-size: 10px !important;
  }
}

/* فایل استایل global یا ماژول */
.custom-collapse .ant-collapse-header {
  align-items: center !important;
  display: flex !important;
  min-height: 56px;
  padding-top: 10 !important;
  padding-bottom: 10 !important;
}

.custom-collapse .ant-collapse-expand-icon {
  align-self: center !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}


@media (max-width: 768px) {
  .custom-collapse .ant-collapse-header {
    min-height: 36px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    padding-right: 10px !important;
    padding-left: 4px !important;
  }

  .custom-collapse .ant-collapse-expand-icon {
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding: 0 !important;
  }
}

@media (max-width: 768px) {
  :where(.css-dev-only-do-not-override-1bxvije).ant-modal .ant-modal-content {
    padding: 20px 3px;
  }
}

/* فایل استایل global یا ماژول */
:where(.ant-modal-content) {
  padding: 20px 3px !important;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  :where(.ant-modal-content) {
    padding: 20px 3px !important;
  }
}

:where(.css-dev-only-do-not-override-apj342).ant-btn-variant-outlined:not(:disabled):not(.ant-btn-disabled):hover,
:where(.css-dev-only-do-not-override-apj342).ant-btn-variant-dashed:not(:disabled):not(.ant-btn-disabled):hover {
  color: #00bba7;
}

:where(.css-dev-only-do-not-override-1nfynx2).ant-modal .ant-modal-content {
  background-color: #141414;
}

/* :where(.css-dev-only-do-not-override-1m79rvm).ant-modal .ant-modal-content {
  background-color: #141414;
} */
.edit-modal-bg .ant-modal-content {
  background: #141414 !important;
}

:where(.css-dev-only-do-not-override-bgn4vy).ant-input {
  font-size: 18px !important;
  padding: 10px;
}

:where(.css-dev-only-do-not-override-bgn4vy).ant-otp {
  column-gap: 18px;
}