@import "tailwindcss";

@font-face {
  font-family: 'IRANSans';
  src: url('/public/fonts/IRANSansWeb.woff2') format('woff2'),
    url('/public/fonts/IRANSansWeb.woff') format('woff'),
    url('/public/fonts/IRANSansWeb.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */




:where(.css-dev-only-do-not-override-kbg4zp).ant-collapse-borderless>.ant-collapse-item>.ant-collapse-content>.ant-collapse-content-box {
  padding: 0;
}

:where(.css-dev-only-do-not-override-kbg4zp).ant-collapse>.ant-collapse-item>.ant-collapse-header {
  align-items: center !important;
}

.ant-collapse-expand-icon svg {
  color: #fff !important;
}

@keyframes slidein {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

.animate-slidein {
  animation: slidein 0.7s cubic-bezier(0.4, 0, 0.2, 1);
}

/* .input-form {
  @apply w-full rounded-lg border border-slate-600 bg-slate-700 text-white px-3 py-2 focus:outline-none focus:ring-2 focus:ring-teal-400 transition;
} */

.custom-timepicker input::placeholder {
  color: #a3a3a3 !important;
  opacity: 1;
}

/* .ant-picker-panel-layout{
  background-color: black;
}

:where(.css-dev-only-do-not-override-kbg4zp).ant-picker-dropdown .ant-picker-time-panel-column >li.ant-picker-time-panel-cell .ant-picker-time-panel-cell-inner{
  color: white;
}

:where(.css-dev-only-do-not-override-kbg4zp).ant-btn-variant-solid:disabled, :where(.css-dev-only-do-not-override-kbg4zp).ant-btn-variant-solid.ant-btn-disabled{
  color: white;
}

:where(.css-dev-only-do-not-override-kbg4zp).ant-picker-dropdown .ant-picker-panel-container .ant-picker-panel{
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

:where(.css-dev-only-do-not-override-kbg4zp).ant-picker-dropdown .ant-picker-ranges{
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: 1px solid white;
} */

/* .ant-picker-suffix .anticon {
  color: white;
} */

:where(.css-dev-only-do-not-override-18f2tjt).ant-input-number {
  width: 100%;
}

:where(.css-dev-only-do-not-override-1ueqz1t).ant-btn-variant-outlined:not(:disabled):not(.ant-btn-disabled):hover,
:where(.css-dev-only-do-not-override-1ueqz1t).ant-btn-variant-dashed:not(:disabled):not(.ant-btn-disabled):hover {
  color: #008080;
  border-color: #008080;
}

.rmdp-calendar-container-mobile .rmdp-mobile.rmdp-wrapper {
  font-family: 'IRANSans';
}

.rmdp-header-values {
  font-size: 20px;
}

/* .rmdp-mobile .rmdp-rtl .rmdp-action-button {
  font-size: 15px;
} */

.rmdp-calendar-container-mobile{
  background-color: rgba(0, 0, 0, 0.8) !important;
}

.rmdp-mobile.rmdp-wrapper{
  border: 1px solid #008080 !important;
  border-radius: 20px;
}

.rmdp-container {
  display: block !important;
}
